Create a function which adds two numbers

In [9]:
def add(a,b):
  c=a+b
  print(c)

add(11,45)
add(5,65)

56
70

In [10]:
add(-7,8)

1

Create a function which adds, subtracts, multiplies and divide 2 numbers

In [16]:
def compute(a,b):
  c=a+b
  d=a/b
  e=a*b
  f=a-b
  print("Addition is: ", c)
  print("Addition is: ", d)
  print("Addition is: ", e)
  print("Subtraction is: ", f)

compute(4,9)

Addition is:  13
Addition is:  0.4444444444444444
Addition is:  36
Subtraction is:  -5

Create a function which takes name and age as input from user and display the age of user

In [26]:
def age(name, age):
  print("Age of user: ", age)

age("Anmol", 32)

Age of user:  32

Create a function which takes name and salary as input form user and diplay the salary of the user

In [27]:
def salary(name, salary):
  print("Salary of user: ", salary)

salary("Anmol", 12000)

Salary of user:  12000

Create a function which compute the area and circumference of circle

Formula
circumference  = 2*pi*r
Area = pi*r^2

In [23]:
def circle(r):
  circumference  = 2*3.14*r
  area  = 3.14*(r**2)

  print("Circumference of Circle: ", circumference)
  print("Area of Circle: ", area)

circle(4)

Circumference of Circle:  25.12
Area of Circle:  50.24

Create a function which computes area and perimeter of a rectangle

Formula:
Area = l*b
perimeter = 2(l+b)

In [25]:
def rectangle(l,b):
  area = l*b
  perimeter = 2*(l+b)

  print("Perimeter of Rectangle: ", perimeter)
  print("Area of Rectangle: ", area)

rectangle(5, 8)

Perimeter of Rectangle:  26
Area of Rectangle:  40

Create a function which adds all the elements in the given group of members

In [28]:
def all_sum(numbers):
  sum=0

  for i in numbers:
    sum= sum+i

  print(sum)

all_sum((1,5,3,6,7))

22

Create a function to accept three numbers as parameters and display the largest number out of the given numbers

In [5]:
def largest(a,b,c):
  if (a>b) and (a>c):
      print(a, " is the largest")

  elif (b>a) and (b>c):
      print(b, " is the largest")

  else:
    print(c, " is the largest")

largest(85,77,66)

85  is the largest