While Loop

print 1 to 10 using while loop

In [ ]:
#a is temp variable

a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

write a program to display odd numbers between 1 to 10

In [ ]:
a=1

while a<=10:
  print(a)
  a=a+2

1
3
5
7
9

For Loop

Print 1 to 10 using For Loop

In [ ]:
for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

Output based questions

In [ ]:
x=5

while x<15:
  print(x**2)
  x=x+3

25
64
121
196

Take a number as input from user and display the multiplication table till 10 for that given number using While loop

In [ ]:
num = int(input("Enter the number: "))
i=1

while i<=10:
  print(num*i)
  i=i+1

Enter the number: 4
4
8
12
16
20
24
28
32
36
40

Take a number as input from user and display the multiplication table till 10 for that given number using for loop

In [ ]:
num = int(input("Enter the number: "))

for i in range(1,11):
  print(num*i)

Enter the number: 3
3
6
9
12
15
18
21
24
27
30

Take a list of numbers and display all the even numbers from the given *list*

In [4]:
list1 = [1,5,6,8,54,22,65]

for i in list1:
  if i%2==0:
    print(i)

6
8
54
22

Take a list of numbers and display the square of all the numbers given in the list

In [3]:
list2=[1,5,6,9,7,11,15,21]

for i in list2:
  print(i**2)

1
25
36
81
49
121
225
441

Take a list of numbers and display the count of even numbers and count of odd numbers in the given list

In [2]:
list3 = [1,5,6,8,54,22,65]
countEven=0
countOdd=0

for i in list3:
  if i%2==0:
    countEven = countEven + 1
  else:
    countOdd = countOdd + 1

print("Count of Even numbers in list: ", countEven)
print("Count of Odd numbers in list: ", countOdd)

Count of Even numbers in list:  4
Count of Odd numbers in list:  3

STATEMENTS

1. PASS

2. BREAK

3. CONTINUE

In [5]:
#PASS - makes a particular segment of the code inactive
x=int(input("enter a number"))
y=int(input("enter a number"))

if x>y:
  print("x is greater")

else:
  pass

enter a number5
enter a number45

In [ ]:
x=int(input("enter a number"))
y=int(input("enter a number"))

if x>y:
  pass

else:
  print("y is greater")

In [ ]:
l1=[2,3,4,5,6,7,9,11,12,14,15]

for i in l1:
  if i%2==0:
    pass

  else:
    print(i,end=" ")

In [ ]:
#BREAK - forcebly comme out of the loop
fruits=['apple','banana','mango','kivi','grapes']

for i in fruits:
  if i=='mango':
    break
  print(i,end=" ")

In [ ]:
name='Washington'

for i in name:
  if i=='t':
    break
  print(i,end=" ")

In [ ]:
#CONTINUE - skip the mentioned element in the satisfied condition
fruits=['apple','banana','mango','kivi','grapes']

for i in fruits:
  if i=='mango':
    continue
  print(i,end=" ")

In [ ]:
name='Washington'

for i in name:
  if i=='t':
    continue
  print(i,end=" ")

Display all the numbers between 1-10 except 3 and 6

In [ ]:
for i in range(1,11):

  if i==3 or i==6:
    continue

  print(i)